{% load static %}
<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">   
    <link rel='stylesheet' type='text/css' href='{% static "account/css/base.css"%}' />
    <link rel='icon' href='{% static "account/img/app_icon_afterpath.png" %}' />
    {% block extra_style %}{% endblock %}
    <title>Requor</title>
</head>

<body>
<div class='body-container' id='body-container'>
    {% block header %}
    <header class='header'>
        <div class='header-container'>
        {% block header-content %}{% endblock %}
        </div>
    </header>
    {% endblock %}


{% block content %}
{% endblock %}
</div>
{% block script %}
{% endblock %}
</body>

</html>