{% extends 'account/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/signup.css' %}" />
{% endblock %}

{% block header-content %}
<div class='room'><a class='back' href='JavaScript:history.go(-2)'><img src="{% static 'account/img/back.svg' %}"></a></div>
<div class='header-title'>パスワードリセット</div>
<div class='room'></div>
{% endblock %}

{% block content %}
<div class='container'>
    
    <p class='note'>パスワードリセット用のメールをを送信しました。</p>
    
</div>

{% endblock %}

{% block footer %}{% endblock %}