{% extends 'account/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/signup.css' %}" />
{% endblock %}

{% block header-content %}
<div class='room'><a class='back' href="{% url 'account_login' %}"><img src="{% static 'account/img/back.svg' %}"></a></div>
<div class='room'></div>
<div class='room'></div>
{% endblock %}

{% block content %}
<div class='container'>
    <h3>メールアドレスを確認してください。</h3>
    <p class='note'>確認のメールを送信しました。<br>
    メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。</p>
</div>

{% endblock %}

{% block footer %}{% endblock %}